body {
  background-image: linear-gradient(to left bottom, #71c3f7, #eef2f3);
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: monospace;
  margin: 0;
}

.container {
  background: rgba(255, 255, 255, 0.3);
  border-radius: 10px;
  padding: 20px;
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 40%;
  min-width: 150px;
  min-height: 150px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.25);
}

.temp {
  font-size: larger;
  color: #171767;
}

.heading {
  font-size: 30px;
  color: #171767;
}

.temp-container {
  width: 90%;
  padding: 15px;
  font-weight: bold;
  font-size: 15px;
  display: flex;
  justify-content: space-between;
  gap: 5px;
}

input {
  width: 220px;
  min-width: 0;
  float: right;
  font-family: monospace;
  padding: 5px;
  background: rgba(255, 255, 255, 0.3);
  border-color: rgba(255, 255, 255, 0.3);
  font-size: 15px;
  outline: none;
  color: rgb(31, 31, 77);
}

input::placeholder {
  color: rgb(110, 109, 109);
}
